.logBody{
    background: #FFFFFF;
    box-shadow: 30px 30.24px 20px rgba(0, 0, 0, 0.02), 0px 12.16px 8.576px rgba(0, 0, 0, 0.013152), 0px 2.72px 3.712px rgba(0, 0, 0, 0.008304);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
}
.leftHalf{
    display: flex;
    gap: 9px;
    align-items: center;
}
.waterDropImg{
    width: 14px;
    height: 12px;
}
.waterAmount{
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #3546B1;
}
/* .rightHalf{

} */
.time{
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    text-align: right;
    
    color: #7B81A6;
}