.content {
  background-color:#FF6969;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-family: 'Pacifico', sans-serif;
  font-size: 100px;
  color: white;
  margin-bottom: 50px;
}

.buttonStart {
  padding: 15px 40px;
  font-size: 20px;
  border-radius: 30px;
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: translate(1) translate(0, 0);
  transition: transform 225ms, box-shadow 225ms;
}

.buttonStart:hover {
  transform: scale(1.05) translate(0, -0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
}

.buttonStart:active {
  transform: scale(1) translate(0, 0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
